.u-section-1 .u-sheet-1 {
  min-height: 1215px;
}

.u-section-1 .u-image-1 {
  width: 554px;
  height: 300px;
  margin: 98px auto 0;
}

.u-section-1 .u-image-2 {
  width: 250px;
  height: 250px;
  margin: -398px auto 0 35px;
}

.u-section-1 .u-text-1 {
  font-size: 1.375rem;
  font-family: Antonio;
  width: 887px;
  margin: 235px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 87px 20px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 111px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -448px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -378px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    margin-top: 213px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
    margin-top: -493px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1207px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 292px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 268px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: -548px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1099px;
  }

  .u-section-1 .u-image-1 {
    height: 184px;
    margin-top: 99px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 520px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -760px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    font-family: Antonio;
    margin-top: 17px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 580px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 61px 36px 0 -16px;
}

.u-section-2 .u-text-2 {
  font-size: 1.375rem;
  font-family: Roboto, sans-serif;
  margin: 50px 10px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 975px;
  }

  .u-section-2 .u-text-1 {
    font-family: Antonio;
    width: auto;
    margin: 55px 33px 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    font-family: Antonio;
    width: auto;
    margin-top: 55px;
    margin-left: 10px;
    margin-right: 10px;
  }
} .u-section-3 {
  --color-var: #000000;
}

.u-section-3 .u-sheet-1 {
  min-height: 1018px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-text-2 {
  font-size: 2.625rem;
  font-family: Antonio;
  margin: 0 250px 0 38px;
}

.u-section-3 .u-image-1 {
  width: 296px;
  height: 517px;
  margin: -42px auto 0 399px;
}

.u-section-3 .u-text-3 {
  font-size: 2.625rem;
  font-family: Antonio;
  margin: -140px 20px 34px 279px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 88px;
    width: 640px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -98px;
  }

  .u-section-3 .u-text-3 {
    width: 841px;
    margin: 133px 0 14px 99px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-1 {
    margin-top: -144px;
    margin-left: 244px;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
    width: 540px;
    margin-top: 179px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 39px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 38px;
    margin-left: 44px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 44px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 624px;
}

.u-section-4 .u-text-1 {
  font-family: Antonio;
  font-weight: 700;
  margin: 94px auto 0;
}

.u-section-4 .u-form-1 {
  height: 311px;
  --progress-spacing: 20px;
  --bar-size: 2px;
  --bar-default-color: #c0c0c0;
  --bar-active-color: #478ac9;
  --step-icon-size: 10px;
  --step-icon-svg-size: 100%;
  --step-icon-border-width: 0px;
  --step-icon-border-radius: 50px;
  --step-icon-border-color: #808080;
  --step-icon-default-color: #d9d9d9;
  --step-icon-done-color: #478ac9;
  --step-icon-active-color: #478ac9;
  --step-icon-text-default-color: #ffffff;
  --step-icon-text-done-color: #ffffff;
  --step-icon-text-active-color: #ffffff;
  --step-text-default-color: #b3b3b3;
  --step-text-done-color: #478ac9;
  --step-text-active-color: #478ac9;
  width: 679px;
  margin: 83px auto 60px;
}

.u-section-4 .u-input-1 {
  --radius: 8px;
}

.u-section-4 .u-input-2 {
  --radius: 8px;
}

.u-section-4 .u-input-3 {
  --radius: 8px;
  font-family: "Open Sans", sans-serif;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  width: 100%;
  font-family: Antonio;
  font-weight: 700;
  font-size: 1.125rem;
  --radius: 8px;
  padding: 10px 0;
}

@media (max-width: 767px) {
  .u-section-4 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 118px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-form-1 {
    margin-top: 61px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 639px;
}

.u-section-5 .u-text-1 {
  font-size: 1.375rem;
  font-family: Antonio;
  margin: 60px 10px 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 300px;
  height: 300px;
  margin: -301px auto 61px 76px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 62px;
    margin-left: -9px;
    margin-right: -9px;
  }

  .u-section-5 .u-image-1 {
    width: 137px;
    height: 137px;
    margin-top: 7px;
    margin-left: auto;
    margin-bottom: 6px;
  }
}